@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;800&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    font-size: 3vw;
    background-color: #FCE4EC;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

main {
    margin: auto;
}

h1 {
    font-size: 3vw;
    font-weight: 800;
    margin-top: 10%;
    margin-bottom: 1%;
}

.line {

    width: 80%;
    height: 1px;
    background: #D7D2BE;
}

a {
    color: #000;
    font-size: 65%;
    font-weight: 800;
}

.meme {
    width: 0;
    height: 0;
    margin: 0 auto;
    transition-duration: 0.5s;

}

img {
    margin-bottom: 10%;
}

a:hover~.meme {

    width: 30%;
    height: 30%;
}